header {
  height: 70px;
  display: flex;
  padding: 0 20px;
  align-items: center;
  background-color: var(--dsf-color-bg-tertiary);
}

.dsf-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--dsf-color-font-primary);
}

.dsf-header-container h1 {
  font-size: 20px;
}
